<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HMSLogin.Properties.Settings.DoctorsConnectionString"
            connectionString="Data Source=SD-14;Initial Catalog=Doctors;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HMSLogin.Properties.Settings.HospitalMSConnectionString"
            connectionString="Data Source=SD-15;Initial Catalog=HospitalMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>